[user]
	user = harakirisoul
	name = "Tatsuro BABA"
	email = harakirisoul@gmail.com
	editor = vi

[color]
	status = auto
	diff = auto
	branche = auto

[alias]
	d = diff
	b = branch
	ad = add
	co = checkout
	s = status
	pr = pull --rebase
	ci = commit -v
	l = log
	lp = log -p
	one = log --oneline

[core]
	editor = vi

[branch "master"]
	remote = <nickname>
	merge = <remote-ref>
	rebase = true

[remote "<nickname>"]
	url = git@github.com:harakirisoul/dot_files.git
	fetch = <refspec>
